 <nav class="navbar">
      <div class="container">
        <a href="./index.html" class="navbar-logo">
          <img src="./assets/myfrcrlogo.png" alt="MyFRCR Logo" />
          <span class="navbar-logo-text">MyFRCR</span>
        </a>
        <ul class="nav-links">
          <li class="dropdown">
            <a href="./myfrcr.html" class="nav-link dropdown-toggle">FRCR</a>
            <ul class="dropdown-menu">
              <li><a href="#" class="dropdown-item">Part A Physics</a></li>
              <li><a href="#" class="dropdown-item">Part 2A</a></li>
              <li><a href="#" class="dropdown-item">Part 2B</a></li>
            </ul>
          </li>
          <li><a href="./abr.html" class="nav-link">ABR</a></li>
          <li class="dropdown">
            <a href="./edir.html" class="nav-link dropdown-toggle">EDiR</a>
            <ul class="dropdown-menu">
              <li><a href="./edir.html" class="dropdown-item">MCQ</a></li>
              <li><a href="./edir.html" class="dropdown-item">Short Cases</a></li>
              <li><a href="./edir.html" class="dropdown-item">Clinically Oriented Reasoning Evaluation (CORE)</a></li>
            </ul>
          </li>
          <li><a href="./edirdiplomas.html" class="nav-link">EDiR Diplomas</a></li>
          <li><a href="./franzcr.html" class="nav-link">FRANZCR</a></li>
          <li><a href="./rcpsc.html" class="nav-link">RCPSC</a></li>
          <li><a href="./contact.html" class="nav-link">Contact</a></li>
        </ul>
        <div class="nav-auth">
          <a href="#" class="btn btn-outline btn-sm">Login</a>
          <a href="#" class="btn btn-primary btn-sm">Sign Up</a>
        </div>
      </div>
    </nav>
